.plantCartContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.plantCard {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px;
}

.cart-plantPhoto {
    width: 40px;
}

.cartBtn {
    padding: 7px 9px;
    border: none;
    border-radius: 3px;
    background: rgba(184, 239, 133, 0.893);
    color: rgb(9, 89, 44);
    font-size: 18px;
    font-weight: 700;
}