.animated-head {
    margin: 10px;
    padding: 5px;
    font-size: 24px;
    font-weight: 900;
    background: none;
}

.animaFlowerF,
.animaFlowerS,
.animaFlowerT,
.animaFlowerFo,
.animaFlowerFi,
.animaFlowerSi,
.animaFlowerSe,
.animaFlowerE,
.animaFlowerN,
.animaFlowerTe,
.animaFlowerEl,
.animaFlowerTw {
    opacity: 0;
    width: 0;
    position: relative;
    left: -1.8rem;
    background: rgba(184, 239, 133, 0.893);
}


/*Animation for flowers*/

.animaFlowerF {
    animation-name: flowerAppear;
    animation-duration: 3.5s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
}

.animaFlowerS {
    animation-name: flowerAppear;
    animation-duration: 3.5s;
    animation-delay: 3.2s;
    animation-iteration-count: infinite;
}

.animaFlowerT {
    animation-name: flowerAppear;
    animation-duration: 3.5s;
    animation-delay: 3.4s;
    animation-iteration-count: infinite;
}

.animaFlowerFo {
    animation-name: flowerAppear;
    animation-duration: 3.5s;
    animation-delay: 3.6s;
    animation-iteration-count: infinite;
}

.animaFlowerFi {
    animation-name: flowerAppear;
    animation-duration: 3.5s;
    animation-delay: 3.8s;
    animation-iteration-count: infinite;
}

.animaFlowerSi {
    animation-name: flowerAppear;
    animation-duration: 3.5s;
    animation-delay: 4s;
    animation-iteration-count: infinite;
}

.animaFlowerSe {
    animation-name: flowerAppear;
    animation-duration: 3.5s;
    animation-delay: 4.2s;
    animation-iteration-count: infinite;
}

.animaFlowerE {
    animation-name: flowerAppear;
    animation-duration: 3.5s;
    animation-delay: 4.4s;
    animation-iteration-count: infinite;
}

.animaFlowerN {
    animation-name: flowerAppear;
    animation-duration: 3.5s;
    animation-delay: 4.6s;
    animation-iteration-count: infinite;
}

.animaFlowerTe {
    animation-name: flowerAppear;
    animation-duration: 3.5s;
    animation-delay: 4.8s;
    animation-iteration-count: infinite;
}

.animaFlowerEl {
    animation-name: flowerAppear;
    animation-duration: 3.5s;
    animation-delay: 5s;
    animation-iteration-count: infinite;
}

.animaFlowerTw {
    animation-name: flowerAppear;
    animation-duration: 3.5s;
    animation-delay: 5.2s;
    animation-iteration-count: infinite;
}


@keyframes letterHide {
    25% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes flowerAppear {
    0% {
        opacity: 1;
        width: 34px;
    }

    50% {
        opacity: 0;
        width: 0;
    }

}

@media (max-width: 600px) {
    .animated-head {
        font-size: 18px;
        font-weight: 700;
    }

    .animaFlowerF,
    .animaFlowerS,
    .animaFlowerT,
    .animaFlowerFo,
    .animaFlowerFi,
    .animaFlowerSi,
    .animaFlowerSe,
    .animaFlowerE,
    .animaFlowerN,
    .animaFlowerTe,
    .animaFlowerEl,
    .animaFlowerTw {
        display: none;
    }
}