.table-search {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 12px;
    margin-bottom: 12px;
}

.table-plantPhoto {
    width: 100px;
    height: 100px;
}

.tableCart {
    cursor: grab;
}

.btnCart {
    padding: 7px 9px;
    border: none;
    border-radius: 3px;
    background: rgba(184, 239, 133, 0.893);
    color: rgb(9, 89, 44);
    font-size: 18px;
    font-weight: 700;
    cursor: grab;
}

.table-cart {
    display: flex;
    justify-content: flex-end;
}

.table-search-btn {
    margin-left: 15px;
    padding: 8px 10px;
    border-radius: 3px;
    border: none;
    background: rgba(184, 239, 133, 0.893);
    color: rgb(9, 89, 44);
    cursor: grab;
}

.table-search-glass {
    display: none;
}

.table-search-btn:hover {
    font-size: 16px;
    color: aliceblue;
    font-weight: 900;
}

.table-search-input {
    padding: 8px 10px;
    border-radius: 3px;
}

.basketModal {
    position: absolute;
    top: 25%vh;
    left: 25%vh;
    padding: 20px;
    width: 500px;
    min-height: 200px;
    border-radius: 5px;
    background: white;
}

.table-sort {
    font-weight: 700;
}

.sort-plant {
    margin-left: 12px;
    cursor: grab;
}

.sorted {
    margin-left: 12px;
    font-size: 15px;
    font-weight: 900;
    text-decoration: underline;
    cursor: grab;

}

.tableRowContent {
    cursor: grab;
}

.plantCard {
    position: absolute;
    top: 200px;
    left: 25%vh;
    padding: 20px;
    width: 500px;
    min-height: 200px;
    border: 2px solid rgb(9, 89, 44);
    border-radius: 5px;
    background: white;
}


@media (max-width: 600px) {

    .featureDnone {
        display: none;
    }

    .table-search-btn {
        display: none;
    }

    .table-search-glass {
        display: inline-block;
        margin-left: 8px;
        padding: 5px 8px;
        border-radius: 3px;
        border: none;
        background: rgba(184, 239, 133, 0.893);
        color: rgb(9, 89, 44);
        cursor: grab;
    }

    .table-search-glass:hover {
        font-size: 16px;
        color: aliceblue;
        font-weight: 900;
    }

    .table-search-input {
        width: 90px;
        border-radius: 3px;
    }

}